<head>
<style >
body{
  background-image: url('../images/Nature.jpg');
}

h1 {
  background-color: blue;
  color: rgb(218, 233, 218);
  text-align: center;
}

p {
  font-family: verdana;
  font-size: 20px;
}
</style>
</head>
<body>
  <table>
    <tr>
     <h1>
        Welcome to MIGS Entertainment service
      </h1>
  </tr>
  <tr>
      <app-sample-shows></app-sample-shows>
   </tr>
   <tr>
    <h1>TV Shows</h1>
    <div style="font-size:15px; line-height:30px;">
      <button mat-button (click)="openDialog()">CLICK HERE!!! to Search by Show Name</button>
    </div>
    </tr>
</table>
</body>
