<div>
<table mat-table [dataSource]="showDetails" class="mat-elevation-z8" width = 100%>
  <!-- Show Name Column -->
<ng-container matColumnDef="id">
  <mat-header-cell *matHeaderCellDef> Id </mat-header-cell>
  <mat-cell *matCellDef="let show">{{show.id}}</mat-cell>
</ng-container>

<!-- Airtime Column -->
<ng-container matColumnDef="name">
  <mat-header-cell *matHeaderCellDef> Name </mat-header-cell>
  <mat-cell *matCellDef="let show"> {{show.name}} </mat-cell>
</ng-container>

<!-- Network Column -->
<ng-container matColumnDef="duration">
  <mat-header-cell *matHeaderCellDef> Duration </mat-header-cell>
  <mat-cell *matCellDef="let show"> {{show.duration}} </mat-cell>
</ng-container>

<!-- Image Column -->
<ng-container matColumnDef="image">
  <mat-header-cell *matHeaderCellDef> Image </mat-header-cell>
  <mat-cell *matCellDef="let show"><img *ngIf="show.image" src="{{show.image}}" alt="{{show.name}}" width='150' height='150'></mat-cell>
</ng-container>

<!-- URL Column -->
<ng-container matColumnDef="showUrl">
  <mat-header-cell *matHeaderCellDef> Show Link </mat-header-cell>
  <mat-cell *matCellDef="let show">
    <a target="_blank" href='{{show.showUrl}}'>{{show.name}}</a>
  </mat-cell>
</ng-container>

<!-- Language Column -->
<ng-container matColumnDef="language">
  <mat-header-cell *matHeaderCellDef> Language </mat-header-cell>
  <mat-cell *matCellDef="let show"> {{show.language}} </mat-cell>
</ng-container>

<!-- Links  Column -->
<ng-container matColumnDef="officialSite">
  <mat-header-cell *matHeaderCellDef> Official Link </mat-header-cell>
  <mat-cell *matCellDef="let show">
    <a target="_blank"  href={{show.officialSite}}> {{show.name}}</a> </mat-cell>
</ng-container>

<!-- TVRageId Column-->
<ng-container matColumnDef="tvrageId">
  <mat-header-cell *matHeaderCellDef> TVRageId </mat-header-cell>
  <mat-cell *matCellDef="let show"> {{show.tvrageId}} </mat-cell>
</ng-container>

<!--theTvDbId column -->
<ng-container matColumnDef="theTvDbId">
  <mat-header-cell *matHeaderCellDef> theTvDbId </mat-header-cell>
  <mat-cell *matCellDef="let show"> {{show.theTvDbId}} </mat-cell>
</ng-container>
<mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
<mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
</table>
<mat-paginator #paginator
[length]="1000"
[pageIndex]="0"
[pageSize]="100"
[pageSizeOptions]="[50,100,250]"
(page)="pageEvent = getServerData($event)"
>
</mat-paginator>
</div>
