body {
    height:100%;
    background-color: whitesmoke;
    color: rgb(19, 17, 17);
  }
h2 {
  background-color: #ff002b;
 color: rgb(19, 17, 17);
 text-align: center;
}
p {
 font-family: verdana;
 font-size: 20px;
}
footer {
 color: white
}
.example-container {
  width: 400px;
  height: 200px;
  margin: 10px;
  border: 1px solid #555;
}
.tab-heading{
  color:wheat;
}

.mat-tab-label-container{
  width: 100%;
}
.mat-tab-labels{
  padding-left: 60px;;
}
#mat-tab-label-0-0{
  background-color:#FFFFFF;
}
#mat-tab-label-0-1{
  background-color:#FFFFFF;
}
#mat-tab-label-0-2{
  background-color:#FFFFFF;
}
#mat-tab-label-0-3{
  background-color:#FFFFFF;
}
#mat-tab-label-0-4{
  background-color:#FFFFFF;
}
#mat-tab-label-0-5{
  background-color:#FFFFFF;
}
#mat-tab-label-0-6{
  background-color:#FFFFFF;
}
#mat-tab-label-0-7{
  background-color:#FFFFFF ;
}
mat-divider{
  color: tomato;
}
.footer{
  color:red;
}

.footer a{
  color: #ff002b;
}
h4{
  color:gray;
}
