<style>
  body {

    height:100%,
    }
  h1 {background-color: red;}
  p {color: blue;}
  </style>
<body>
<div style="text-align: center;">
  <table>
    <tr>
      <app-sample-shows></app-sample-shows>
    </tr>
    <tr>
      <table class='optionsList'>
          <tr>
            <td class= 'optionValues'>
              <ul>
                <li><a href='Search'> <img src='./images/SearchImage.JPG' alt="Search" width="600" height="400"></a></li>
                <li><a href='Shows'> Shows</a> </li>
                <li><a href='Movies'> Movies</a> </li>
                <li><a href='Schedules'> Schedules</a></li>
                <li><a href='Conatact Us'> Contact Us</a> </li>
                <li><a href='Billing'> Billing </a></li>
              </ul>
            </td>
            <td>
              <app-tv-shows-display>  </app-tv-shows-display>
            </td>
          </tr>

      </table>
    </tr>

      <div style="font-size:15px; line-height:30px;">
        <div> Enter your desired Show Name</div>
         <div>
          <app-search-by-name (searchEvent)="doSearch($event)"></app-search-by-name>
         </div>
      </div>
    <tr>
      <mat-card color="secondary">
       <app-tv-shows-display [currentdata]= "tvshowsdisplay" [itemNotFound] = "errorMessage">  </app-tv-shows-display>
     </mat-card>
    </tr>
    <tr>
      <app-schedule> </app-schedule>
    </tr>
    <tr>
      <app-sign-up-page></app-sign-up-page>
    </tr>
    <tr>
      <app-register-page></app-register-page>
    </tr>
    <tr>
      <app-forgot-password></app-forgot-password>
    </tr>
</table>
  <app-search-by-name (searchEvent) = "doSearch($event)"></app-search-by-name>
  <tr>
    <mat-card color="secondary">
     <app-tv-shows-display [currentdata]= "tvshowsdisplay">  </app-tv-shows-display>
   </mat-card>
</tr>
<tr>
  <app-contact-page> </app-contact-page>
</tr>
</div>

<footer>
  <p>Contact : <a href="mailto:teamrockers@example.com">teamrockers@example.com</a></p>
</footer>

</body>




