<head>
  <style >
    body{
       /* background-image: url('https://material.angular.io/assets/img/examples/shiba2.jpg'); */
        background-image: url('assets/Nature.jpg');
    }
    h1 {
      background-color: blue;
      color: rgb(218, 233, 218);
      text-align: center;
    }
    p {
      font-family: verdana;
      font-size: 20px;
    }
    </style>
</head>
<body>
<div style="text-align: center;">
  <mat-tab-group>
    <mat-tab label="Home">
      <h1>Home </h1>
      <div style="font-size:15px; line-height:30px;">
        <div>
          <app-homepage></app-homepage>
         </div>
      </div>
    </mat-tab>
    <mat-tab label="Shows">
      <h1>Shows </h1>
      <div style="font-size:15px; line-height:30px;">
        <div>
          <app-displayshows></app-displayshows>
        </div>
        </div>
      </mat-tab>
    <mat-tab label="Schedules">
      <h1>Schedules </h1>
      <app-schedule> </app-schedule>
    </mat-tab>
    <mat-tab label="Login/Sign-in">
      <h1>Login/Sign in  </h1>
      <app-sign-up-page></app-sign-up-page>
    </mat-tab>
    <mat-tab label="Register/Sign-up">
      <h1>Register/Sign up </h1>
      <app-register-page></app-register-page>
    </mat-tab>
    <mat-tab label="Billing">
      <h1>Billing Page </h1>
      <app-billing-component> </app-billing-component>
    </mat-tab>
    <mat-tab label="Author Info">
      <h1>Authors </h1>
      <app-authors></app-authors>
    </mat-tab>
  </mat-tab-group>
  <mat-divider></mat-divider>
  <h1><app-subscribe></app-subscribe></h1>
   <h1>Unlimited movies, TV shows,  <br/> and more. <br/> Watch anywhere. Cancel anytime.</h1>
<footer>
  <p>Contact : <a href="mailto:teamrockers@example.com">teamrockers@example.com</a></p>
</footer>
</div>
</body>
