body {
  background-image: url('https://material.angular.io/assets/img/examples/shiba2.jpg');
  height:100%,
  }
h1 {background-color: red;}
p {color: blue;}

.example-container {
  width: 400px;
  height: 200px;
  margin: 10px;
  border: 1px solid #555;
}
