<body>
  <div style="text-align: center;">
    <mat-tab-group>
      <mat-tab class="tab-heading" label="Home">
        <h2>Home </h2>
        <div style="font-size:15px; line-height:30px;">
          <div>
            <app-homepage></app-homepage>
          </div>
        </div>
        <div style="font-size:15px; line-height:30px;">
          <br>
          <div>
            <button  style="background-color:tomato" mat-button (click)="openDialog()">CLICK HERE!!! to Search by Show Name</button>
          </div>
        </div>
      </mat-tab>
      <mat-tab class="tab-heading" label="Shows">
        <h2>Shows </h2>
        <div style="font-size:15px; line-height:30px;">
          <div>
            <app-show-search (searchEvent)="doSearch($event)"></app-show-search>
            <app-displayshows [showDetails]='showDetails'></app-displayshows>
          </div>
        </div>
      </mat-tab>
      <mat-tab class="tab-heading" label="Schedules">
        <h2>Schedules </h2>
        <app-schedule> </app-schedule>
      </mat-tab>
      <mat-tab label="Login/Sign-in">
        <h2>Login/Sign in  </h2>
        <app-sign-up-page></app-sign-up-page>
      </mat-tab>
      <mat-tab class="tab-heading" label="Register/Sign-up">
        <h2>Register/Sign up </h2>
        <app-register-page></app-register-page>
      </mat-tab>
      <mat-tab class="tab-heading" label="Billing">
        <h2>Billing Page </h2>
        <app-billing-component> </app-billing-component>
      </mat-tab>
      <mat-tab class="tab-heading" label="Author Info">
        <h2>Authors </h2>
        <app-authors></app-authors>
      </mat-tab>
      <mat-tab class="tab-heading" label="Subscription Plans">
        <h2>Plans </h2>
        <app-show-plans></app-show-plans>
      </mat-tab>
    </mat-tab-group>
    <mat-divider></mat-divider>
    <br>
    <br>
    <h3 style="font-size: x-large;"> Unlimited movies, TV shows,  <br/> and more. <br/></h3>
    <h4> Watch anywhere. Cancel anytime.</h4>
    <h1><app-subscribe></app-subscribe></h1>
    <footer>
      <b><p class="footer">Contact : <a href="mailto:teamrockers@example.com">teamrockers@example.com</a></p></b>
    </footer>
    <mat-divider></mat-divider>
  </div>
</body>
