table {
  width: 100%;
  font-family: auto;
  text-align: left;
}

mat-header-cell {
  font-size: 16px;
  font-weight: bold;
}

.mat-column-showName {
  text-align: left;
  padding: 20px;
}

mat-cell {
  display: block;
}

:host ::ng-deep .mat-column-summary p {
  text-align: left;
  font-size: 14px !important;
  font-family: auto;
}

.mat-column-summary {
  padding: 20px;
}
